$black: #1F1F1F
$blue: #1789FC
$white: #ffffff
$grey: #777879

body
  background-color: $white
  color: $black

h1
  font-size: 65px
  font-weight: bold
  margin: 0
h2
  font-size: 30px
  font-weight: 600
  margin: 0

p
  font-size: 16px
  font-weight: normal
  color: $grey
  line-height: 18px
  margin: 0


/*==========  Desktop First  ==========
/* Large Devices, Wide Screens
@media only screen and (max-width: 1200px)
  /**/

/* Medium Devices, Desktops
@media only screen and (max-width: 992px)
  /**/

/* Small Devices, Tablets
@media only screen and (max-width: 768px)
  h1
    color: red

/* Extra Small Devices, Phones
@media only screen and (max-width: 576px)
  /**/

/* Custom, iPhone Retina
@media only screen and (max-width: 320px)
  /**/


/*==========  Mobile First  ==========
/* Custom, iPhone Retina
@media only screen and (min-width: 320px)
  /**/

/* Extra Small Devices, Phones
@media only screen and (min-width: 480px)
  /**/

/* Small Devices, Tablets
@media only screen and (min-width: 768px)
  /**/

/* Medium Devices, Desktops
@media only screen and (min-width: 992px)
  /**/

/* Large Devices, Wide Screens
@media only screen and (min-width: 1200px)
  /**/
